
.table td .currency {
    text-align: right
}

.table th .currency {
    text-align: right
}

.auth-picture {
    width: 24px;
    height: 24px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 2px;
    margin-right: 7px;
    margin-top: -3px;
}

/* Base class */
.msr-region-bordered {
    position: relative;
    margin-left: 30px;
    margin-bottom: 25px;
    padding: 29px 19px 14px;
    *padding-top: 19px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Echo out a label for the example */
.msr-region-bordered:after {
    content: attr(regionlabel);
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 2px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.msr-region-bordered .region-btn {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 1px 7px;
    padding-bottom: 2px;
}

input.attribute-input {
    margin: 0;
    padding: 0 0.2em;
    width: 100%;
    font-size: 10pt;
}

input.attribute-input[type="number"] {
    text-align: right;
}

.rolewell {
    position: relative;
    padding: 7px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #fbfbfb;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    float: left;
    width: 178px;
}

.rolewell h5 {
    margin-top: 0;
}

.rolewell .clan {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 7px;
}

.rolewell .toolbar {
    position: absolute;
    top: -1px;
    right: 4px;
    width: 14px;
    z-index: 1000;
    display: none;
}

.rolewell .toolbar .btn {
    padding-left: 3px;
    padding-right: 3px;
    line-height: 1.5;
}

.rolewell .ghoul {
    position: absolute;
    background: url("../logo/ghoul-thumb.png") no-repeat;
    top: -1px;
    left: 4px;
    width: 12px;
    height: 23px;
    z-index: 900;
}

.rolewell .npc:after {
    content: "NPC";
    position: absolute;
    bottom: -1px;
    left: -1px;
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 1.5;
    font-style: italic;
    height: 12px;
    z-index: 900;
    font-size: 6pt;
    font-weight: bolder;
    font-family: Verdana, sans;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.signin-link {
    background-color: #ffffff;
    background-image: none;
    border-color: #ffffff;
}

.signin-link:hover {
    background-color: #ffffff;
    background-image: none;
}

.google-signin {
    color: #dd4b39;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 5px;
    background-color: #ffffff;
}

.facebook-signin {
    color: #5b76b3;
    background-color: #ffffff;
    /*border: 1px solid #5b76b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 2px;*/
}

.abilities-table td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

a.documented {
    color: #333333;
    text-decoration: none;
    cursor: help;
}

a.documented:hover {
    border-bottom: 1px dotted #999999
}

.top-labelled-div {
    position: relative;
    margin-top: 19px;
}

.top-labelled-div:after {
    content: attr(divlabel);
    position: absolute;
    top: -19px;
    left: 0px;
    padding: 0px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 4px 4px 0;
    -moz-border-radius: 4px 4px 4px 0;
    border-radius: 4px 4px 4px 0;
}
