
.table td .currency {
    text-align: right
}

.table th .currency {
    text-align: right
}

.auth-picture {
    width: 24px;
    height: 24px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 2px;
    margin-right: 7px;
    margin-top: -3px;
}

/* Base class */
.msr-region-bordered {
    position: relative;
    margin-left: 30px;
    margin-bottom: 25px;
    padding: 29px 19px 14px;
    *padding-top: 19px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Echo out a label for the example */
.msr-region-bordered:after {
    content: attr(regionlabel);
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 2px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.msr-region-bordered .region-btn {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 1px 7px;
    padding-bottom: 2px;
}

input.attribute-input {
    margin: 0;
    padding: 0 0.2em;
    width: 100%;
    font-size: 10pt;
}

input.attribute-input[type="number"] {
    text-align: right;
}

.rolewell {
    position: relative;
    padding: 7px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #fbfbfb;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    float: left;
    width: 178px;
}

.rolewell h5 {
    margin-top: 0;
}

.rolewell .clan {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 7px;
}

.rolewell .toolbar {
    position: absolute;
    top: -1px;
    right: 7px;
    width: 12px;
    z-index: 1000;
    display: none;
}

.rolewell .toolbar .btn {
    padding-left: 2px;
    padding-right: 2px;
}