<html>
<head><title>Famely Trees</title></head>
#macro( printNodes $nodes )
<table cellpadding="4" cellspacing="0" border="0" style="border-collapse: collapse;">
<tr>
    #foreach($treeNode in $nodes)
    <td align="center" valign="top" style="border: 1px dotted black;">$treeNode</td>
    #end
</tr>
<tr>
    #foreach($treeNode in $nodes)
    <td align="center" valign="top">
    #printNodes( $treeNode.Children )
    </td>
    #end
</tr>
</table>
#end
<body>
#foreach($treeNode in $nodes)
    <table cellpadding="4" cellspacing="0" border="0" style="border-collapse: collapse;">
    <tr>
        <td align="center" valign="top" style="border: 1px solid black;">
            #set($clanSymbol = $ClanSymbolFinder.get($treeNode.Data.Clan))
            <span style="font-size: 20pt;">
            $clanSymbol&nbsp;&nbsp;
            </span>
            $treeNode
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border: 1px solid black;">
        #printNodes( $treeNode.Children )
        </td>
    </tr>
    </table>
    <p></p>
#end
</body>
</html>