<html>
<head>
<title>Roles Generator</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
td {
	border: 1px solid black;
	text-align: center;
}

table {
	border-collapse: collapse;
}
.stdTable {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 9pt;
	border: 1px solid #000000;
	margin 2px;
}
.smallComment {
    font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 8pt;
	font-style: italic;
}
.outsideStdTable {
	border: 1px solid #000000;
}

.paper {
	/*height: 297mm; width: 210mm*/
	height: 287mm;
	width: 200mm;
	padding: 1cm;
	text-align: center;
	/*page-break-after: always;*/
}
.headingTitle {
	font-family: "French Script MT", Georgia, "Times New Roman", Times, serif;
	font-size: 26pt;
	font-style: italic;
	font-weight: bold;
}
.noteId {
 	vertical-align: super;
 	font-size: 8pt;
 	/*margin-top: -4px;
 	padding: 0px;*/
}
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 9pt;
	margin: 0px;
	border: none;
	padding: 1cm;
	text-align: center;
}
.clanSymbol {
    font-size: 36pt;
}
.roleName {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 11pt;
    font-style: italic;
}
-->
</style>
</head>
<body bgcolor="#FFFFFF" text="#000000">
    <table class="outsideStdTable">
	<tr><td>
	<table border="0" cellspacing="0" cellpadding="4" class="stdTable">
	<tr>
	    <td align="center"><b>Embraced / Created Year</b></td>
	    <td align="center"><b>Disciplines</b></td>
        <td align="center"><b>Attributes</b></td>
	    <td align="center"><b>Abilities</b></td>
	</tr>
	#foreach($createRule in $createRules)
	<tr>
	    <td>$createRule.YearMin -&gt;  $createRule.YearMax</td>
	    <td>$createRule.Disciplines</td>
        <td>$createRule.Attributes</td>
	    <td>$createRule.Abilities</td>
	</tr>
	#end
	</table>
	</td></tr>
	</table>
    <p>&nbsp;</p>
	<table class="outsideStdTable">
	<tr><td>
	<table border="0" cellspacing="0" cellpadding="4" class="stdTable">
	<tr>
        <td align="center"><b>Generation</b></td>
        <td align="center"><b>BloodPool</b></td>
        <td align="center"><b>Abilities Max</b></td>
        <td align="center"><b>Disciplines Max</b></td>
        <td align="center"><b>Traits Max</b></td>
        <td align="center"><b>Willpower Start</b></td>
        <td align="center"><b>Willpower Max</b></td>
    </tr>
	#foreach($generation in $generations)
	<tr>
        <td>
            #if($generation.Generation == $GhoulGeneration)
                Ghoul
            #else
                $generation.Generation
            #end
        </td>
        <td>
            $generation.BloodPool
            #if($generation.HumanBlood > 0)
                / $generation.HumanBlood
            #end
            / $generation.SpendBlood
        </td>
        <td>$generation.AbilitiesMax</td>
        <td>$generation.DisciplinesMax</td>
        <td>$generation.TraitsMax</td>
        <td>$generation.WillpowerStart</td>
        <td>$generation.WillpowerMax</td>
    </tr>
	#end
	</table>
	</td></tr>
	</table>
</body>
</html>