<html>
<head>
<title>Roles</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
td {
	border: 1px solid black;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 9pt;
}

table {
	border-collapse: collapse;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 9pt;
}
.stdTable {  
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-size: 9pt;
	border: 1px solid #000000;
	margin 2px;
}
.smallComment {
    font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 8pt;
	font-style: italic;
}
.outsideStdTable {
	border: 1px solid #000000;
}

.paper {
	/*height: 297mm; width: 210mm*/
	height: 287mm; 
	width: 200mm;
	padding: 1cm;
	padding-top: 0.5cm;
	text-align: center;
	/*page-break-after: always;*/
	/*z-index: 2;*/
}
.headingTitle {
	font-family: "French Script MT", Georgia, "Times New Roman", Times, serif; 
	font-size: 26pt;
	font-style: italic; 
	font-weight: bold;
}
.noteId {
 	vertical-align: super;
 	font-size: 8pt;
 	/*margin-top: -4px;
 	padding: 0px;*/
}
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 9pt;
	margin: 0px;
	padding: 0px;
	border: none;
}
.clanSymbol {
    font-size: 42pt;
}
.roleName {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 11pt;
    font-style: italic;
}

.abilityCell {
    font-size: 8pt;
}

.abilityNote {
    font-style: italic;
    font-size: 7pt;
}

.otherTraitCell {
    font-size: 8pt;
}
.healthBox {
    border: 1px solid black;
    width: 12px;
    height: 8px;
}
-->
</style>
</head>
<body bgcolor="#FFFFFF" text="#000000">
#foreach( $role in $roles )
<div class="paper" valign="top">
#set($clanSymbol = $ClanSymbolFinder.get($role.Clan))
<!-- <div align="center"> -->
<table class="plain" border="0" cellspacing="0" cellpadding="0" width="100%" style="border: none; margin-top: 0px;">
<tr>
    <td align="left" class="clanSymbol"  style="border: none;" valign="top">
        &nbsp;$!clanSymbol
    </td>
    <td align="center"  style="border: none;">
        <p class="headingTitle" align="center">$heading</p>
        <p align="center" style="padding-bottom: 0.5cm;">
        	<span class="roleName">
        		<b><i>$role.Name</i></b>
        	</span>
        </p>
    </td>
    <td align="right" class="clanSymbol"  style="border: none;" valign="top">
        $!clanSymbol&nbsp;
    </td>
</tr>
</table>
  <!--<p class="headingTitle" align="center">$heading</p>
    <p align="center">
    	<span class="roleName">
    		<b><i>$role.Name</i></b>
    	</span>
    </p>-->
<!-- </div> -->
<table class="plain" border="0" cellspacing="0" cellpadding="2" width="100%">
<tr vAlign="top">
<td style="border: none;" align="left">
	<table class="outsideStdTable">
	<tr><td>
	<table border="0" cellspacing="0" cellpadding="2" width="198" class="stdTable">
	  <tr>
		<td><b>Player:</b> $role.PlayerName</td>
	  </tr>
	  #if( !$role.isGhoul() )
	  <tr>
		<td><b>Generation:</b> $role.Generation</td>
	  </tr>
	  #else
	  <tr>
		<td><b>Ghoul</b></td>
	  </tr>
	  #end
	  #if( !$role.isGhoul() )
	  <tr>
		<td><b>Embraced:</b> $role.EmbracedString</td>
	  </tr>
	  #end
	  <tr>
		<td><b>Age:</b> $role.Age</td>
	  </tr>
	  <tr>
		<td>
			#if( !$role.isGhoul() )
			<b>Sire:</b>
			#else
			<b>Master:</b>
			#end
			$!role.Sire
		</td>
	  </tr>
	  <tr>
		<td><b>Clan:</b> $role.Clan</td>
	  </tr>
	  <tr>
		<td><b>Demeanor:</b> $role.Demeanor</td>
	  </tr>
	  <tr>
		<td><b>Nature:</b> $role.Nature</td>
	  </tr>
	</table>
	</td></tr>
	</table>
</td>
<td style="border: none;" align="center">
	<table class="outsideStdTable">
	<tr><td>
	<table border="0" cellspacing="0" cellpadding="2" class="stdTable" width="198">
	    <tr>
			<td colspan="2" width="100%">
			        <b>Domain:</b>&nbsp;
			    $role.Domain.Name
		    </td>
		</tr>
		<tr>
			<td width="90%"><b>Courage:</b></td>
			<td width="10%" align="center" nowrap>$role.Courage</td>
		</tr>
		<tr>
			<td width="90%"><b>$role.ConcienseORconviction:</b></td>
			<td width="10%" nowrap align="center">$role.Concience</td>
		</tr>
		<tr>
			<td width="90%"><b>$role.SelfControlORinstinct:</b></td>
			<td width="10%" nowrap align="center">$role.SelfControl</td>
		</tr>
		<tr>
			<td width="90%"><b>Willpower:</b></td>
			<td width="10%" nowrap align="center"> $!role.Willpower/$!role.Generation.WillpowerMax </td>
		</tr>
		<tr>
			<td width="90%"><b>Bloodpool:</b></td>
			<td width="10%" nowrap align="center">
			    $!role.Generation.BloodPool
			    #if($role.Generation.HumanBlood > 0)/$role.Generation.HumanBlood #end
			    /$!role.Generation.SpendBlood
			</td>
		</tr>
		<tr>
			<td width="90%"><b>$role.Path:</b></td>
			<td width="10%" nowrap align="center">$role.PathDots</td>
		</tr>
	</table>
	</td></tr>
	</table>
</td>
<td style="border: none;" align="right">
	<table class="outsideStdTable">
	<tr><td>
	<table border="0" cellspacing="0" cellpadding="2" width="198" class="stdTable" width="198">
	#set( $derangements = $role.Derangements )
	#set( $beastTraits = $role.BeastTraits )
	#set( $emptyRows = 7 - $derangements.size() - $beastTraits.size() )
	#if( $derangements.size() > 0 && $beastTraits.size() > 0 )
	    #set ($emptyRows =  $emptyRows - 2)
	#end
	#if($derangements.size() > 0)
	  <tr>
		<td><b>Derangements</b></td>
	  </tr>
	  #foreach($deran in $derangements )
	  <tr>
		<td>$deran</td>
	  </tr>
	  #end
	  #if($beastTraits.size() > 0)
	  <tr>
		<td>&nbsp;</td>
	  </tr>
	  #end
	#end
	#if($beastTraits.size() > 0)
	  <tr>
		<td><b>Beast Traits</b></td>
	  </tr>
	  #foreach($deran in $beastTraits )
	  <tr>
		<td>$deran</td>
	  </tr>
	  #end
	#end
	  #foreach($i in [1..$emptyRows])
	  <tr>
		<td>&nbsp;</td>
	  </tr>
	  #end
	</table>
	</td></tr>
	</table>
</td>
</tr>
<tr>
<td style="border: none;" colspan="3">
	<table class="outsideStdTable" width="100%" style="margin-top: 10px;">
	<tr><td>
	<table width="100%" cellspacing="0" border="0" cellpadding="0">
	<tr>
	#set($abilities = $role.PhysicalAbilities)
	#set ($maxRows = $abilities.size())
	#if($maxRows < $role.SocialAbilities.size())
		#set($maxRows = $role.SocialAbilities.size())
	#end
	#if($maxRows < $role.MentalAbilities.size())
		#set($maxRows = $role.MentalAbilities.size())
	#end
	#set($extraRows = $maxRows - $abilities.size())
	<td width="33%" style="border: none; padding-right: 1px;" valign="top">
		<table border="0" cellspacing="0" cellpadding="2" width="100%" class="stdTable">
		  <tr>
			<td colspan="2" class="abilityCell">
				<b>
					Abilities
					#if( !$role.isGhoul() )
						(Max: $!role.Generation.AbilitiesMax)
					#end
				</b>
			</td>
		  </tr>                     <!-- PHYSICAL ABILITIES-->
		  #foreach($ability in $abilities)
		  <tr>
			<td class="abilityCell">
				$ability
				#if($ability.Specialisation.length() > 11)
                	( <span class="abilityNote">$notes.addNote( $ability.Specialisation )</span>  )
				#elseif($ability.Specialisation.length() > 0)
				( $ability.Specialisation )
				#end
			</td>
			<td width="10%" class="abilityCell">#if( $ability.Dots > 0 ) $ability.Dots #end</td>
		  </tr>
		  #end
		  #if($extraRows > 0)
		  	#foreach($i in [1..$extraRows])
		  <tr>
			<td class="abilityCell">&nbsp;</td>
			<td width="10%" class="abilityCell">&nbsp;</td>
		  </tr>
		  	#end
		  #end
		</table>
	</td>
	<td width="33%" style="border: none; padding-right: 1px;" valign="top">
		<table border="0" cellspacing="0" cellpadding="2" width="100%" class="stdTable">
		  <tr>
			<td colspan="2" class="abilityCell">
				<b>
					Abilities
					#if( !$role.isGhoul() )
						(Max: $!role.Generation.AbilitiesMax)
					#end
				</b>
			</td>
		  </tr>                 <!-- SOCIAL ABILITIES-->
		  #set($abilities = $role.SocialAbilities)
		  #set($extraRows = $maxRows - $abilities.size())
		  #foreach($ability in $abilities)
		  <tr>
			<td class="abilityCell">
				$ability
				#if($ability.Specialisation.length() > 11)
                	( <span class="abilityNote">$notes.addNote( $ability.Specialisation )</span> )
				#elseif($ability.Specialisation.length() > 0)
				( $ability.Specialisation )
				#end
			</td>
			<td width="10%" class="abilityCell">#if( $ability.Dots > 0 ) $ability.Dots #end</td>
		  </tr>
		  #end
		  #if($extraRows > 0)
		  	#foreach($i in [1..$extraRows])
		  <tr>
			<td class="abilityCell">&nbsp;</td>
			<td width="10%" class="abilityCell">&nbsp;</td>
		  </tr>
		  	#end
		  #end
		</table>
	</td>
	<td width="33%" style="border: none;" valign="top">
		<table border="0" cellspacing="0" cellpadding="2" width="100%" class="stdTable">
		  <tr>
			<td colspan="2" class="abilityCell">
				<b>
					Abilities
					#if( !$role.isGhoul() )
						(Max: $!role.Generation.AbilitiesMax)
					#end
				</b>
			</td>
		  </tr>                 <!-- MENTAL ABILITIES-->
		  #set($abilities = $role.MentalAbilities)
		  #set($extraRows = $maxRows - $abilities.size())
		  #foreach($ability in $abilities)
		  <tr>
			<td class="abilityCell">
				$ability
				#if($ability.Specialisation.length() > 11)
                	( <span class="abilityNote">$notes.addNote( $ability.Specialisation )</span> )
				#elseif($ability.Specialisation.length() > 0)
				( $ability.Specialisation )
				#end
			</td>
			<td width="10%" class="abilityCell">#if( $ability.Dots > 0 ) $ability.Dots #end</td>
		  </tr>
		  #end
		  #if($extraRows > 0)
		  	#foreach($i in [1..$extraRows])
		  <tr>
			<td class="abilityCell">&nbsp;</td>
			<td width="10%" class="abilityCell">&nbsp;</td>
		  </tr>
		  	#end
		  #end
		</table>
	</td>
	</tr>
	</table>
	#if($role.OtherTraits.size() > 0)
	<table border="0" cellspacing="0" cellpadding="2" width="100%" class="stdTable" style="margin-top: 1px;">
    <tr>
        <td colspan="12" class="otherTraitCell"><b>Other Traits</b></td>
    </tr>
    <tr>
        #set($left = 5)
		#foreach($trait in $role.OtherTraits)
		    <td width="10%" class="otherTraitCell" nowrap="true">$trait</td>
			<td width="1%" class="otherTraitCell" nowrap="true">$trait.Dots</td>
			#set($left = $left - 1)
			#if($velocityCount % 6 == 0 && $velocityCount < $role.OtherTraits.size() )
			#set($left = 5)
	</tr>
	<tr>
            #end
		#end
		#if($left >= 0)
		#foreach($i in [0..$left])
		    <td width="10%" class="otherTraitCell">&nbsp;</td>
			<td width="1%" class="otherTraitCell">&nbsp;</td>
		#end
		#end
    </tr>
    </table>
    #end
	</td></tr>
	</table>
</td>
</tr>
#*
<!--
<tr>
<td colspan="3" style="border: none">
    <table class="outsideStdTable" width="100%">
	<tr><td>
    <table border="0" cellspacing="0" cellpadding="2" width="100%" class="stdTable">
    <tr>
        <td colspan="6"><b>Other Traits</b></td>
    </tr>
    <tr>
		#foreach($trait in $role.OtherTraits)
		    <td>$trait</td>
			<td width="5%">$trait.Dots</td>
			#if($velocityCount % 3 == 0 && $velocityCount < $role.OtherTraits.size() )
	</tr>
	<tr>
            #end
		#end
    </tr>
    </table>
    </td></tr>
    </table>
</td>
</tr>
-->
*#
<tr>
<td align="left" style="border: none;">
	<table class="outsideStdTable" style="margin-top: 10px; margin-bottom: 10px;">
	<tr><td>
	<table class="stdTable">
		<tr>
			<td style="font-size: 12pt; font-weight: bold;" width="90">Physical</td>
			<td style="font-size: 10pt; font-style: italic;" width="60">Max: $!role.Generation.TraitsMax</td>
			<td width="50" align="center" style="font-size: 12pt;">$role.Physical</td>
		</tr>
	</table>
	</td></tr>
	</table>
</td>
<td align="center" style="border: none;">
	<table class="outsideStdTable" style="margin-top: 10px; margin-bottom: 10px;">
	<tr><td>
	<table class="stdTable">
		<tr>
			<td style="font-size: 12pt; font-weight: bold;" width="90">Social</td>
			<td style="font-size: 10pt; font-style: italic;" width="60">Max: $!role.Generation.TraitsMax</td>
			<td width="50" align="center" style="font-size: 12pt;">$role.Social</td>
		</tr>
	</table>
	</td></tr>
	</table>
</td>
<td align="right" style="border: none;">
	<table class="outsideStdTable" style="margin-top: 10px; margin-bottom: 10px;">
	<tr><td>
	<table class="stdTable">
		<tr>
			<td style="font-size: 12pt; font-weight: bold;" width="90">Mental</td>
			<td style="font-size: 10pt; font-style: italic;" width="60">Max: $!role.Generation.TraitsMax</td>
			<td width="50" align="center" style="font-size: 12pt;">$role.Mental</td>
		</tr>
	</table>
	</td></tr>
	</table>
</td>
</tr>
<tr>
#set($toManyMnFs = false)
#if(($role.Merits.size() + $role.Flaws.size()) >= 9)
    #set($toManyMnFs = true)
#end
<td style="border: none;" colspan="3">
	<table class="plain" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
			#if($toManyMnFs)
		    <td style="border: none;" valign="top" align="left" width="25%">
		    #else
		    <td style="border: none;" valign="top" align="left" width="33%">
		    #end
                <table class="outsideStdTable" width="90%">
                <tr><td>
                <table border="0" cellspacing="0" cellpadding="1" class="stdTable" width="100%">
                  <tr>
                    <td colspan="2"><b>Disciplines</b></td>
                  </tr>
                  #foreach($di in $role.Disciplines)
                  <tr>
                    <td>$di</td>
                    <td width="10%">
                        #if($di.Dots > 0)
                        $di.Dots
                        #else
                        &nbsp;
                        #end
                    </td>
                  </tr>
                  #end
                  <tr>
                    <td>&nbsp;</td>
                    <td width="10%">&nbsp;</td>
                  </tr>
                </table>
                #if($role.hasThaumaturgy())
                <table border="0" cellspacing="0" cellpadding="2" class="stdTable" width="100%" style="margin-top: 1px;">
                <tr>
                    <td colspan="2">
                        <b>Thaumaturgy</b>
                        #if($role.ThaumaType.length() > 0)
                        <br/><span class="smallComment">($role.ThaumaType)</span>
                        #end
                    </td>
                  </tr>
                  #foreach($path in $role.ThaumaturgicalPaths)
                  <tr>
                    <td>$path</td>
                    <td width="10%">$!path.Dots</td>
                  </tr>
                  #end
                  <tr>
                    <td>&nbsp;</td>
                    <td width="10%">&nbsp;</td>
                  </tr>
                </table>
                #end
                #if($role.hasNecromancy())
                <table border="0" cellspacing="0" cellpadding="2" class="stdTable" width="100%" style="margin-top: 1px;">
                <tr>
                    <td colspan="2">
                        <b>Necromancy</b>
                        #if($role.NecromancyType.length() > 0)
                        <br/><span class="smallComment">($role.NecromancyType)</span>
                        #end
                    </td>
                  </tr>
                  #foreach($path in $role.NecromancyPaths)
                  <tr>
                    <td>$path</td>
                    <td width="10%">$!path.Dots</td>
                  </tr>
                  #end
                  <tr>
                    <td>&nbsp;</td>
                    <td width="10%">&nbsp;</td>
                  </tr>
                </table>
                #end
                </td></tr>
                </table>
		    </td>
		    #if($toManyMnFs)
		    <td style="border: none;" valign="top" align="center" width="25%">
		    #else
		    <td style="border: none;" valign="top" align="center" width="33%">
		    #end
                <table class="outsideStdTable" width="90%">
                <tr><td>
                <table border="0" cellspacing="0" cellpadding="2" class="stdTable" width="100%">
                <tr>
                    <td>
                        #macro(box)
                        <div class="healthBox"> </div>
                        #end
                        <b>Health Level</b>
                        <table cellpadding="2" cellspacing="0" border="0" class="plain" style="border: none;">
                            #if($role.ExtraHealthLevels > 0)
                                #foreach($i in [1..$role.ExtraHealthLevels])
                                <tr>
                                    <td style="border: none;">#box()</td>
                                    <td colspan="2" style="border: none;">Healthy</td>
                                </tr>
                                #end
                            #end
                            <tr>
                                <td style="border: none;">#box()</td>
                                <td colspan="2" style="border: none;">Healthy</td>
                            </tr>
                            <tr>
                                <td style="border: none;">#box()</td>
                                <td colspan="2" style="border: none;">Healthy<br/>
                            </tr>
                            <tr>
                                <td style="border: none;">#box()</td>
                                <td style="border: none;">
                                    Bruised
                                </td>
                                <td style="border: none;">
                                    #if($role.SufferesOfInjury) -1 #else &nbsp; #end
                                </td>
                            </tr>
                            <tr>
                                <td style="border: none;">#box()</td>
                                <td colspan="2" style="border: none;">Bruised</td>
                            </tr>
                            <tr>
                                <td style="border: none;">#box()</td>
                                <td colspan="2" style="border: none;">Bruised</td>
                            </tr>
                            <tr>
                                <td style="border: none;">#box()</td>
                                <td style="border: none;">
                                    Wounded
                                </td>
                                <td style="border: none;">
                                    #if($role.SufferesOfInjury) -2 #else &nbsp; #end
                                </td>
                            </tr>
                            <tr>
                                <td style="border: none;">#box()</td>
                                <td colspan="2" style="border: none;">Wounded</td>
                            </tr>
                            <tr>
                                <td style="border: none;">#box()</td>
                                <td colspan="2" style="border: none;">Incapacitated</td>
                            </tr>
                            <tr>
                                <td style="border: none;">#box()</td>
                                <td colspan="2" style="border: none;">Torpor or Final Death</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </table>#*<!--
                <table border="0" cellspacing="0" cellpadding="2" class="stdTable" width="100%" style="margin-top: 1px;">
                  <tr>
                    <td colspan="2"><b>Other Traits</b></td>
                  </tr>
                  #set($traits = $role.OtherTraits)
                  #foreach($trait in $traits)
                  <tr>
                    <td>$trait</td>
                    <td width="10%">$!trait.Dots</td>
                  </tr>
                  #end
                  <tr>
                    <td>&nbsp;</td>
                    <td width="10%">&nbsp;</td>
                  </tr>
                </table>-->*#
                </td></tr>
                </table>
		    </td>
		    #if($toManyMnFs)
		    <td style="border: none;" valign="top" align="right" width="25%">
		        <table class="outsideStdTable" width="90%">
                <tr><td>
                <table border="0" cellspacing="0" cellpadding="2" class="stdTable" width="100%">
                  <tr>
                    <td><b>Merits</b></td>
                  </tr>
                  #set($merits = $role.Merits)
                  #foreach($merit in $merits)
                  <tr>
                    <td>
                        $!merit.Name
                        #if($merit.Note.length() > 0)
                            <span class="noteId">$notes.addNote( $merit.Note )</span>
                        #end
                    </td>
                  </tr>
                  #end
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table>
                </td></tr>
                </table>
		    </td>
		    <td style="border: none;" valign="top" align="right" width="25%">
		        <table class="outsideStdTable" width="90%">
                <tr><td>
                <table border="0" cellspacing="0" cellpadding="2" width="100%" class="stdTable">
                  <tr>
                    <td><b>Flaws</b></td>
                  </tr>
                  #set($merits = $role.Flaws)
                  #foreach($merit in $merits)
                  <tr>
                    <td>
                        $!merit.Name
                        #if($merit.Note.length() > 0)
                            <span class="noteId">$notes.addNote( $merit.Note )</span>
                        #end
                    </td>
                  </tr>
                  #end
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table>
                </td></tr>
                </table>
		    </td>
		    #else
		    <td style="border: none;" valign="top" align="right" width="33%">
                <table class="outsideStdTable" width="90%">
                <tr><td>
                <table border="0" cellspacing="0" cellpadding="2" class="stdTable" width="100%" style="margin-bottom: 1px;">
                  <tr>
                    <td><b>Merits</b></td>
                  </tr>
                  #set($merits = $role.Merits)
                  #foreach($merit in $merits)
                  <tr>
                    <td>
                        $!merit.Name
                        #if($merit.Note.length() > 0)
                            <span class="noteId">$notes.addNote( $merit.Note )</span>
                        #end
                    </td>
                  </tr>
                  #end
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table>
                <table border="0" cellspacing="0" cellpadding="2" width="100%" class="stdTable">
                  <tr>
                    <td><b>Flaws</b></td>
                  </tr>
                  #set($merits = $role.Flaws)
                  #foreach($merit in $merits)
                  <tr>
                    <td>
                        $!merit.Name
                        #if($merit.Note.length() > 0)
                            <span class="noteId">$notes.addNote( $merit.Note )</span>
                        #end
                    </td>
                  </tr>
                  #end
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table>
                </td></tr>
                </table>
            #end
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
<div align="left">
#if( $role.Clan.Weaknesses )
<i><b>Clan-Weaknesses:</b> $role.Clan.Weaknesses</i><br/>
#end
#if( $role.FightForm )
<b>Fight Form: </b> $role.FightForm.Name
    #if( $role.FightForm.Description.length() > 0)
        <i>( $role.FightForm.Description )</i>
    #end
    <br/>
#end
#if( $role.FlightForm )
<b>Flight Form: </b> $role.FlightForm.Name
    #if( $role.FlightForm.Description.length() > 0)
        <i>( $role.FlightForm.Description )</i>
    #end
    <br/>
#end
#if($notes.size() > 1)
	#set($stop = $notes.size() - 1)
	#foreach( $i in [1..$stop] )
	$i) $notes.getNote($i) <br/>
	#end
	$notes.clear()
#end
</div>
</div>
    #if($role.hasRituals())
<div class="paper">
        #set($ritualTypes = $role.RitualTypes)
        #foreach($ritualType in $ritualTypes)
    <table class="outsideStdTable" width="100%">
	<tr><td>
	<table border="0" cellspacing="0" cellpadding="2" width="100%" class="stdTable">
	<tr>
	    <td colspan="3"><b>$ritualType.Name</b></td>
	</tr>
	<tr>
	    <td><b>Name</b></td>
	    <td><b>Level</b></td>
	    <td><b>Description</b></td>
	</tr>
	        #foreach($ritual in $role.Rituals)
	            #if($ritual.RitualType.Id == $ritualType.Id)
	<tr>
	    <td vAlign="top">$ritual.Name</td>
	    <td vAlign="top" align="center">$ritual.Level</td>
	    <td vAlign="top">$!ritual.Description</td>
	</tr>
	            #end
	        #end
	<tr>
	    <td vAlign="top">&nbsp;</td>
	    <td vAlign="top">&nbsp;</td>
	    <td vAlign="top">&nbsp;</td>
	</tr>
	<tr>
	    <td vAlign="top">&nbsp;</td>
	    <td vAlign="top">&nbsp;</td>
	    <td vAlign="top">&nbsp;</td>
	</tr>
	</table>
	</td></tr>
	</table>
	<p> </p>
	    #end
</div>
    #end
    #if($showPageTwo)
<div class="paper">
    <p class="headingTitle" align="center">$heading</p>
    <p align="center">
        <span class="roleName">
    	    <b><i>$role.Name</i></b>
    	</span>
    </p>
    <table class="outsideStdTable" align="center" width="100%">
	<tr><td>
	<table border="0" cellspacing="0" cellpadding="2" width="100%" class="stdTable">
	<tr>
	    <td width="10%"><b>XP: </b></td>
	    <td>$role.Experience</td>
	</tr>
	<tr>
	    <td align="left" width="10%"><b>Monthly&nbsp;Income:</b></td>
	    <td>
	        #set($income = $role.baseMonthlyIncome() + $role.ExtraMonthlyIncome )
	        $fMoney.format( $income )
	    </td>
	</tr>
	<tr>
	    <td align="left" width="10%"><b>Total&nbsp;Monthly&nbsp;Income:</b></td>
	    <td>
	        $fMoney.format( $role.totalMonthlyIncome() )
	    </td>
	</tr>
	<tr>
	    <td width="10%" valign="top"><b>Professions: </b></td>
	    <td>
	        #foreach($profession in $role.Professions)
	            #if(!$profession.Mortal)
	                $profession<br/>
	            #end
	        #end
	    </td>
	</tr>
	<tr>
	    <td width="10%" valign="top"><b>Mortal&nbsp;Professions:&nbsp;</b></td>
	    <td>
	        #foreach($profession in $role.Professions)
	            #if($profession.Mortal)
	                #if($profession.Mask)
	                    <b>$profession</b><br/>
	                #else
	                    $profession<br/>
	                #end
	            #end
	        #end
	    </td>
	</tr>
	</table>
	</td></tr>
	</table>
	<p></p>
	<table class="outsideStdTable" align="center" width="100%">
	<tr><td>
	<table border="0" cellspacing="0" cellpadding="2" width="100%" class="stdTable">
	<tr>
	    <td align="left" colspan="3"><b>Bank Accounts</b></td>
	</tr>
	<tr>
	    <td align="center" width="5%"><b>Id</b></td>
	    <td align="center"><b>Owner&nbsp;Name</b></td>
	    <td align="center"><b>Ammount</b></td>
	</tr>
	#set($accounts = $role.BankAccounts)
	#foreach($account in $accounts)
	    #if($account.Active)
	<tr>
	       #if($account.Income)
	    <td width="5%"><b>$account.Id</b></td>
	    <td><b>$account.OwnerName</b></td>
	    <td><b>$fMoney.format( $account.Ammount )</b></td>
	        #else
	    <td width="5%">$account.Id</td>
	    <td>$account.OwnerName</td>
	    <td>$fMoney.format( $account.Ammount )</td>
	        #end
	</tr>
	    #end
	#end
	</table>
	</td></tr>
	</table>
	<p></p>
	<table class="outsideStdTable" align="center" width="100%">
	<tr><td>
	<table border="0" cellspacing="0" cellpadding="2" class="stdTable" width="100%">
			  <tr>
				<td colspan="2"><b>Influences</b></td>
			  </tr>
			  #set($influences = $role.compileInfluences() )
			  #foreach($in in $influences)
			    #if($in.Dots > 0)
			  <tr>
				<td>
				    $in.Name
				    #if($in.Notes.length() > 0)
                        #*<!--<span class="noteId">$notes.addNote( $in.Notes )</span>-->*#
                        <i>( $in.Notes )</i>
					#end
				</td>
				<td width="10%">$in.Dots</td>
			  </tr>
			    #end
			  #end
			  #if($influences.size() <= 0)
			  <tr>
				<td>&nbsp;</td>
				<td width="10%">&nbsp;</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td width="10%">&nbsp;</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td width="10%">&nbsp;</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td width="10%">&nbsp;</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td width="10%">&nbsp;</td>
			  </tr>
			  #end
			</table>
    </td></tr>
    </table>
    <p></p>
	<table class="outsideStdTable" align="center" width="100%">
	<tr><td>
	<table border="0" cellspacing="0" cellpadding="2" width="100%" class="stdTable">
	<tr>
	    <td align="left" colspan="5"><b>Resources </b></td>
	</tr>
	<tr>
	    <td align="center" width="10%"><b>Name</b></td>
	    <td align="center"><b>Owned</b></td>
	    <td align="center"><b>Income</b></td>
	    <td align="center"><b>Influences</b></td>
	    <td align="center"><b>Description</b></td>
	</tr>
	#set($resources = $role.Resources)
	#foreach($resource in $resources)
	<tr>
	    <td width="10%" valign="top">$resource.Name</td>
	    <td valign="top">$resource.Percent %</td>
	    #set($incomeTot =  $resource.Income * $resource.Percent)
	    <td valign="top">$fMoney.format( $incomeTot )</td>
	    #set($infl = $resource.Influences)
	    <td valign="top">
	        <table class="stdTable" cellpadding="1" cellspacing="0" border="0" width="100%" style="border: none;">
	        #foreach($influence in $infl)
	            <tr>
	                <td style="border: none;">$influence.Name </td><td style="border: none;"> $influence.Dots </td>
	            </tr>
	        #end
	        </table>
	    </td>
	    <td valign="top">
	        $resource.Description
	    </td>
	</tr>
	#end
	</table>
	</td></tr>
	</table>
</div>
    #end
    #if($listPlots)
<div class="paper">
    <p class="headingTitle" align="center">Plots</p>
    <p align="center">
        <span class="roleName">
    	    <b><i>$role.Name</i></b>
    	</span>
    </p>
        #set($plots = $role.Plots)
    <table class="outsideStdTable" align="center" width="100%">
	<tr><td style="padding-top: 0px;">
        #foreach($plot in $plots)
	<table border="0" cellspacing="0" cellpadding="2" width="100%" class="stdTable" style="margin-top: 1px;">
	<tr>
	    <td style="font-size: 14pt; font-weight: bold; border-right: none; padding-left: 4px;" align="left">$plot.Id</td>
	    <td style="border-left: none;">&nbsp;</td>
	</tr>
	<tr>
	    <td valign="top" width="10%"><b>Title</b></td>
	    <td>$plot.Title</td>
	</tr>
	<tr>
	    <td valign="top" width="10%"><b>Description</b></td>
	    <td>$!util.toHTML($plot.Description)</td>
	</tr>
	</table>
        #end
    </td></tr>
	</table>
</div>
    #end
    #if($listExperience)
<div class="paper">
    <p class="headingTitle" align="center">Experience</p>
    <p align="center">
        <span class="roleName">
    	    <b><i>
    	    #if($readXPFromPLayer)
    	        $role.Player.Name
    	    #else
    	        $role.Name
    	    #end
    	    </i></b>
    	</span>
    </p>
    <table class="outsideStdTable" align="center">
    <tr><td>
    <table border="0" cellspacing="0" cellpadding="2" class="stdTable">
    <tr>
	    <td width="10%"><b>Total&nbsp;XP: </b></td>
	    <td>$role.Experience</td>
	</tr>
	</table>
	</td></tr>
	</table>
	<p></p>
	#set($xpList = "")
	#if($readXPFromPLayer)
	    #set($xpList = $role.Player.ExperienceList )
	#else
        #set($xpList = $experience.getDetailedExperienceListForRole( $role.Id ) )
    #end
    <table class="outsideStdTable" align="center" width="100%">
    <tr><td>
    <table border="0" cellspacing="0" cellpadding="2" width="100%" class="stdTable">
	<tr>
	    <td align="left" colspan="3"><b>Experience Gained </b></td>
	</tr>
	<tr>
	    <td align="center" width="15%"><b>Date</b></td>
	    <td align="center" width="15%"><b>Ammount</b></td>
	    <td align="center"><b>Reason</b></td>
	    <td align="center"><b>Added By</b></td>
	</tr>
	#foreach($xp in $xpList)
	    #if($xp.Ammount >= 0)
	<tr>
	    <td>
	        $xp.Date
	    </td>
	    <td>
	        $xp.Ammount
	    </td>
	    <td>
	        $xp.Reason
	    </td>
	    <td>
	        $!xp.SetByUser.FullName
	    </td>
	</tr>
	    #end
	#end
	</table>
    </td></tr>
    </table>
    <p></p>
    <table class="outsideStdTable" align="center" width="100%">
    <tr><td>
    <table border="0" cellspacing="0" cellpadding="2" width="100%" class="stdTable">
	<tr>
	    <td align="left" colspan="3"><b>Experience Used</b></td>
	</tr>
	<tr>
	    <td align="center" width="15%"><b>Date</b></td>
	    <td align="center" width="15%"><b>Ammount</b></td>
	    <td align="center"><b>Reason</b></td>
	    <td align="center"><b>&quot;Approved&quot; By</b></td>
	</tr>
	#foreach($xp in $xpList)
	    #if($xp.Ammount < 0)
	<tr>
	    <td>
	        $xp.Date
	    </td>
	    <td>
	        $xp.Ammount
	    </td>
	    <td>
	        $xp.Reason
	    </td>
	    <td>
	        $!xp.SetByUser.FullName
	    </td>
	</tr>
	    #end
	#end
	</table>
    </td></tr>
    </table>
</div>
    #end
#end
</body>
</html>
